$width : 100% ;
$border : none;

@mixin bacground1($bac-color){
    background-color:$bac-color;
    
}

@mixin FontFamily($fontfamily){
    font-family: $fontfamily ;
    
}

@mixin Colors($color){
    color: $color ;
    
}

@mixin display1($display){
    display: $display ;
    
}

@mixin prefixer($property,$value,$prefixes:()){
    @each $prefix in $prefixes{
        
        #{'-' + $prefix + '-' + $property}:$value;
        
    }
    
    #{$property}:$value;
    
}


*{
    @include prefixer(box-sizing,border-box,webkit moz o );
}


body {
    margin: 0;
    @include FontFamily(sans-serif);
    @include Colors(#eee);
    @include display1(flex);
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    h1{
        color: black;
        display: block;
        font-family: cursive;
        text-align: center;
    }
    
    .container {
        width: 400px;
        @include bacground1(darkblue);
        @include prefixer(box-shadow,0 4px 10px rgba(0,0,0,0.6),webkit moz o );
        
        
        .header {
            
            padding: 1rem;
            
            .pw{
                
                width: $width;
                height: 100px;
                @include bacground1(darkblue);
                @include display1(flex);
                align-items: center;
                position: relative;
                font-size: 1.5rem;
                padding: 1rem;
                overflow-x: scroll;
                
                
                button {
                    
                    position: absolute;
                    top: 0;
                    right: 0;
                    @include prefixer(transform,translate(0,50%),webkit moz o );
                    transition: opacity 0.2s ease, transform 0.2s ease;
                    opacity: 0;
                    @include bacground1(white);
                    padding: 0.25rem 1rem;
                    @include FontFamily(inherit);
                    font-weight: bold;
                    @include Colors(darkblue);
                    border:$border;
                    cursor: pointer;
                }
                
                &:hover button {
                    opacity: 1;
                    @include prefixer(transform,translate(0,0),webkit moz o );
                    
                }
                
            }
        }
        
        
        .body{
            
            padding: 0 1rem 1rem;
            
            .form-control {
                
                @include Colors(#eee);
                @include display1(flex);
                justify-content: space-between;
                margin: 0.75rem 0;
            }
            
            .generate {
                
                @include display1(block);
                @include bacground1(white);
                @include Colors(darkblue);
                font:{
                    weight: bold;
                    size: 1.5rem;
                    
                }
                padding: 1rem;
                margin-top: 1rem;
                border: $border;
                width:$width;
                cursor: pointer;
            
            }
        }
        
        
        
    }
    
    
}